@import "../../assets/css/variables.scss";
.skip-link {
  background: $web-primary;
  color: white;
  font-weight: 700;
  left: 50%;
  padding: 4px;
  position: absolute;
  transform: translate(0, -200%);
}

.skip-link:focus {
  transform: translate(0, 0%);
}
