<div class="col">
  <div class="row justify-content-center">
    <div
      id="pagecontent"
      class="col-10 m-5 card border-rounded p-3"
      style="min-width: 360px;"
    >
      <div class="row">
        <div class="col-auto">
          <span class="fs-16">Most recent posts</span>
        </div>
      </div>
      <hr />
      <div class="row">
        <app-posts-list
          [posts]="posts"
          (getMorePosts)="onGetMorePosts()"
        ></app-posts-list>
      </div>
    </div>
  </div>
</div>
