<div class="col">
  <div class="row justify-content-center">
    <div
      *ngIf="forum"
      id="pagecontent"
      class="col-10 m-5 card border-rounded p-3"
      style="min-width: 360px;"
    >
      <div class="row justify-content-between align-items-center">
        <div class="col-auto">
          <span class="fs-16">{{ forum.forumName }}</span>
        </div>
        <div class="col-auto p-0">
          <i
            (click)="forum.followed ? unfollowForum() : followForum()"
            class="py-1 px-2 mr-2 bookmark-icon fa fa-bookmark show-pointer web-hover-light rounded"
            [ngClass]="{ 'text-web-primary hover-danger': forum.followed }"
            [matTooltip]="
              forum.followed ? 'Un-follow this forum' : 'Follow forum'
            "
            matTooltipClass="fs-14"
          ></i>
        </div>
      </div>
      <hr />
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <div class="row">
            <div class="col-auto">
              <span class="fs-16">What this forum is about:</span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="row pb-3">
                <div class="col p-0 mx-3" (click)="enableEditDescription()">
                  <textarea
                    id="descriptionArea"
                    class="w-100 m-0 text-area-style rounded h-100 show-pointer"
                    [ngClass]="{
                      'show-pointer web-hover-light':
                        !editDescription && isOwner,
                      'show-edit': editDescription,
                      'border-0': !isOwner
                    }"
                    (blur)="saveNewDescription()"
                    (keydown.enter)="saveNewDescription()"
                    (keydown.escape)="discardDescriptionChanges()"
                    [disabled]="!editDescription"
                    [(ngModel)]="forum.description"
                  ></textarea>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <hr />
      <div class="row justify-content-between align-items-center pb-3">
        <div class="col-auto">
          <span class="fs-16">Posts</span>
        </div>
        <div class="col-auto p-0">
          <div
            tabindex="8"
            (click)="onShowCreatePost()"
            class="col-auto web-hover-light rounded show-pointer py-1 px-2 mr-2"
            matTooltip="Create a new post!"
            matTooltipClass="fs-14"
          >
            <i class="fa fa-plus text-web-primary"></i>
          </div>
        </div>
      </div>
      <app-create-post
        [forumId]="forum.id"
        (postAdded)="onPostAdded($event)"
        (cancel)="onPostAddCancelled($event)"
        *ngIf="showCreatePost"
      ></app-create-post>
      <app-posts-list *ngIf="forum.posts" [(forum)]="forum"></app-posts-list>
    </div>
  </div>
</div>
