<div class="row">
  <div class="col">
    <div class="row">
      <div class="col">
        <mat-form-field appearance="fill" class="w-100">
          <mat-label float="never">Description</mat-label>
          <textarea
            [formControl]="commentText"
            matInput
            cdkTextareaAutosize="true"
            #autosize="cdkTextareaAutosize"
            cdkAutosizeMinRows="3"
            cdkAutosizeMaxRows="10"
          ></textarea>
          <mat-error *ngIf="commentText.invalid">{{
            getCommentErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
    </div>
    <div class="row justify-content-end">
      <div class="col-auto">
        <button class="btn btn-primary" (click)="postComment()">
          {{ isReply ? "Reply" : "Comment" }}
        </button>
      </div>
    </div>
  </div>
</div>
