<div class="col">
  <div class="row justify-content-center">
    <div
      id="pagecontent"
      class="col-10 m-5 card border-rounded p-3"
      style="min-width: 360px;"
    >
      <div class="row justify-content-between align-items-center">
        <div class="col">
          <div class="row align-items-center">
            <div class="col-auto">
              <span class="fs-16">Browse Forums by:</span>
            </div>
            <div class="col-auto col-auto web-hover-light rounded">
              <mat-form-field>
                <mat-select tabindex="8" [(value)]="forumFilters.filterType">
                  <mat-option [value]="filterTypes.Subscribed"
                    >Subscribed</mat-option
                  >
                  <mat-option [value]="filterTypes.Newest">Newest</mat-option>
                  <mat-option [value]="filterTypes.MostPopular"
                    >Most Popular</mat-option
                  >
                </mat-select>
              </mat-form-field>
            </div>
          </div>
        </div>
        <div
          class="col-auto web-hover-light rounded show-pointer py-1 px-2 mr-2 float-right"
          tabindex="9"
          (click)="onShowCreateForum()"
          (keydown.enter)="onShowCreateForum()"
          matTooltip="Create a new forum!"
          matTooltipClass="fs-14"
        >
          <i class="fa fa-plus text-web-primary"></i>
        </div>
      </div>
      <hr />
      <app-create-forum
        *ngIf="showCreateForum"
        (forumCreated)="onForumCreated($event)"
      ></app-create-forum>
      <div
        [routerLink]="['../forum', forum.id]"
        class="row w-100 ml-0 web-hover-light rounded show-pointer py-3"
        *ngFor="let forum of forums"
      >
        <div class="col">
          <div class="row justify-content-between">
            <div class="col">
              <span>
                {{ forum.forumName }}
              </span>
            </div>
            <div class="col-auto p-0">
              <i
                (click)="
                  forum.followed
                    ? unfollowForum($event.stopPropagation(), forum)
                    : followForum($event.stopPropagation(), forum)
                "
                class="py-1 px-2 mr-2 bookmark-icon fa fa-bookmark show-pointer web-hover-light rounded"
                [ngClass]="{ 'text-web-primary hover-danger': forum.followed }"
                [matTooltip]="
                  forum.followed ? 'Un-follow this forum' : 'Follow forum'
                "
                matTooltipClass="fs-14"
              ></i>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <span>
                <pre class="m-0">{{
                  displayDescription(forum.description)
                }}</pre>
              </span>
            </div>
          </div>
          <div class="row">
            <div class="col">
              <div class="span text-muted">{{ forum.followers }} followers</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
