<div class="row">
  <div class="col">
    <input
      #file
      type="file"
      accept="image/*,video/*"
      (change)="sendToPreview(file)"
    />
  </div>
</div>
<div class="row">
  <div class="col" *ngIf="fileUrl && isImage">
    <img [src]="fileUrl" height="200" />
  </div>
  <div class="col" *ngIf="fileUrl && !isImage">
    <video controls height="200">
      <source [src]="fileUrl" type="video/mp4" />
    </video>
  </div>
</div>
<div class="row">
  <div class="col">
    <span class="text-danger fs-14" *ngIf="error">{{ error }}</span>
  </div>
</div>
