<div class="col">
  <div class="row justify-content-center">
    <div
      *ngIf="post"
      id="pagecontent"
      class="col-10 m-5 card border-rounded p-3"
      style="min-width: 360px;"
    >
      <div class="row">
        <div class="col-auto">
          <h2>{{ post.title }}</h2>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col p-0 mx-3" (click)="enableEditDescription()">
          <textarea
            id="descriptionArea"
            class="w-100 m-0 text-area-style rounded h-100 show-pointer overflow-hidden"
            [ngClass]="{
              'show-pointer web-hover-light': !editDescription && isOwner,
              'show-edit': editDescription,
              'border-0': !isOwner
            }"
            [rows]="computeNumberOfRows(post.description)"
            (blur)="saveNewDescription()"
            (keydown.enter)="saveNewDescription()"
            (keydown.escape)="discardDescriptionChanges()"
            [disabled]="!editDescription"
            [(ngModel)]="post.description"
          ></textarea>
        </div>
      </div>
      <div class="row justify-content-center" *ngIf="rows > 10">
        <div class="col">
          <span
            class="text-web-primary show-pointer"
            (click)="toggleShowMoreDescription()"
            >{{ showMore === true ? "show less" : "show more" }}</span
          >
        </div>
      </div>
      <div class="row justify-content-center">
        <div
          class="col-6 text-center"
          *ngIf="post.file && post.file.type.includes('image')"
        >
          <img [src]="getFileContent(post.file)" [alt]="post.file.name" />
        </div>
        <div
          class="col-6 text-center"
          *ngIf="post.file && post.file.type.includes('video')"
        >
          <video
            controls
            style="width: 100%; max-height: 800px; background: black;"
          >
            <source [src]="getFileContent(post.file)" [type]="post.file.type" />
          </video>
        </div>
      </div>
      <hr />
      <div class="row justify-content-between">
        <div class="col-auto pb-3"><span>Comments:</span></div>
        <div class="col-auto">
          <div
            tabindex="8"
            (click)="onShowCreateComment()"
            class="col-auto web-hover-light rounded show-pointer py-1 px-2 mr-2"
            matTooltip="Add a comment"
            matTooltipClass="fs-14"
          >
            <i class="fa fa-plus text-web-primary"></i>
          </div>
        </div>
      </div>
      <app-add-comment
        *ngIf="openReplyId === -1"
        [isReply]="false"
        [postId]="post.id"
        (newCommentAdded)="onNewCommentCreated($event)"
        (closed)="onCreateCommentClosed($event)"
      ></app-add-comment>
      <app-comments-list
        [level]="1"
        [comments]="comments"
        (replyOpen)="onReplyOpen($event)"
        [openReplyCommentId]="openReplyId"
      ></app-comments-list>
    </div>
  </div>
</div>
