<div class="col" *ngIf="forum">
  <div class="row pb-3 justify-content-center" *ngFor="let post of posts">
    <div
      class="col-sm-12 col-md-6 col-lg-4 border rounded pb-2 show-pointer"
      [routerLink]="['/post', post.id]"
    >
      <div class="row">
        <div class="col">
          <h2>{{ post.title }}</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col text-center">
          <img
            style="width: 100%; max-height: 800px;"
            *ngIf="post.file && post.file.type.includes('image')"
            [src]="getFileContent(post.file)"
            [alt]="post.file.name"
          />
          <div
            class="col"
            *ngIf="post.file && post.file.type.includes('video')"
          >
            <video
              controls
              style="width: 100%; max-height: 800px; background: black;"
            >
              <source
                [src]="getFileContent(post.file)"
                [type]="post.file.type"
              />
            </video>
          </div>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col">
          <i
            class="fa fa-thumbs-up web-hover-light p-2 rounded"
            [ngClass]="isLikedByCurrentUser(post.likes)"
            (click)="likePost($event.stopPropagation(), post)"
          ></i
          ><span>{{ post.likes.length }}</span>
          <i
            class="fa fa-thumbs-down web-hover-light p-2 rounded"
            [ngClass]="isDislikedByCurrentUser(post.dislikes)"
            (click)="dislikePost($event.stopPropagation(), post)"
          ></i
          ><span>{{ post.dislikes.length }}</span>
        </div>
      </div>
    </div>
  </div>
</div>
