/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;
  margin: 0;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
@import "~bootstrap/dist/css/bootstrap.min.css";
$fa-font-path: "../node_modules/font-awesome/fonts";
@import "../node_modules/font-awesome/scss/font-awesome.scss";

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

@import "assets/css/globals.scss";
@import "assets/css/mixins.scss";
@import "assets/css/popovers.scss";
